<%- include('../layouts/head.ejs', {title : 'Carga de empleado'}) ;%>

<body>
  <%- include('../layouts/nav.ejs');%>
    <div id="height-cuerpo" class="row">
      <%- include('../layouts/menu-aside.ejs') ;%>
        <div class="container-fluid p-5 mb-2 col">
          <header>
            <h1>
              Crear Empleado
            </h1>
            <br><br>
          </header>
          <main>
            <form action="#" id="formNewEmployee" class="row g-3">
              <%- include('partials/_form.ejs') ;%>
              <div class="col-12">
                  <button class="btn btn-primary" type="submit">Crear</button>
                  <button class="btn btn-secondary" onclick="history.back()">Cancelar</button>
                </div>
            </form>
          </main>
        </div>
        <%- include('../layouts/footer.ejs') ;%>
    </div>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>    
    <script src="/js/sweetalert2/all.min.js"></script>
    <script src="/js/employees/store.js"></script>
</body>

</html>