<%- include('../layouts/head.ejs', {title : 'Detalle de empleados' }) ;%>

  <body class="h-100 d-flex flex-column">
    <%- include('../layouts/nav.ejs') ;%>

      <div id="height-cuerpo" class="row">
        <%- include('../layouts/menu-aside.ejs') ;%>
          <div class="container p-5 col" id="id" data-id="<%= id  %>">
            <main class="row gap-2">
              <div class="col rounded shadow p-3">
                <a class="btn btn-outline-success relative float-end" id="btnEdit">Editar</a>
                <div>
                  <img class="rounded" src="https://i.pravatar.cc/200" alt="">
                </div>
                <div class="d-flex fs-6">
                  <span id="fullName" class="fs-2"></span>
                </div>
                <div class="d-flex fs-6">
                  <strong>Nro. documento:</strong>
                  <p class="mx-3" id="dni"></p>
                </div>
                <div class="d-flex">
                  <strong>Nro. Legajo:</strong>
                  <p class="mx-3" id="profileNro"></p>
                </div>
                <div class="d-flex">
                  <strong>Edad:</strong>
                  <p class="mx-3" id="age"></p>
                </div>
                <div class="d-flex">
                  <strong>Domicilio:</strong>
                  <p class="mx-3" id="address"></p>
                </div>
                <div class="d-flex">
                  <strong>Teléfono:</strong>
                  <p class="mx-3" id="phone"></p>
                </div>
                <div class="d-flex">
                  <strong>Año Ingreso:</strong>
                  <p class="mx-3" id="dateIn"></p>
                </div>
                <div class="d-flex">
                  <strong>Antiguedad:</strong>
                  <p class="mx-3" id="antiquity"></p>
                </div>
                <div class="d-flex">
                  <strong>Condición de promoción:</strong>
                  <p class="mx-3" id="promotion"></p>
                </div>
              </div>
              <div class="col">
                <div class="rounded shadow p-2 mb-2">
                  <div class="d-flex justify-content-between align-items-center ">
                    <strong>Categorías:</strong>
                    <button onclick=addCategoryToEmployee(event) data-id="<%= id  %>" class="btn btn-success">+</button>
                  </div>
                  <div class="mx-3" id="categories">
                    <div class="d-flex justify-content-center">
                      <div class="spinner-border" role="status">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rounded shadow p-2 mb-2">
                  <div class="d-flex justify-content-between align-items-center ">
                    <strong>Puesto laboral actual:</strong>
                    <button onclick=addJobPositionToEmployee(event) data-id="<%= id  %>"
                      class="btn btn-success">+</button>
                  </div>
                  <div id="jobPosition" class="mx-3">
                    <div class="d-flex justify-content-center">
                      <div class="spinner-border" role="status">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rounded shadow p-2 mb-2">
                  <strong>Habilidades / Skills: (h)</strong>
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCategoryCreate" >
                    +
                   </button>
                  <ul>
                    <li>Excel avanzado</li>
                    <li>Word avanzado</li>
                    <li>Electricista</li>
                  </ul>
                </div>
              </div>
            </main>
          </div>
          <!-- Modal AddCategoryToEmployee -->
          <div class="modal fade" id="modalAddCategoryToEmployee" tabindex="-1"
            aria-labelledby="modalAddCategoryToEmployeeLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <form id="formAddCategoryToEmployee" class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalAddCategoryToEmployeeLabel">Nueva Categoría de Empleado</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row g-3">
                    <input type="hidden" id="isCreating">
                    <div id="validationErrorsAddCategories"></div>
                    <div class="col-12">
                      <label for="selectCategories" class="form-label">Categoría de Empleado<small
                          class=" text-danger">(*)</small></label>
                      <select class="form-select" name="selectCategories" id="selectCategories"></select>
                    </div>
                    <div class="col-12">
                      <label for="datePromotion" class="form-label">Año de promoción<small
                          class=" text-danger">(*)</small></label>
                      <input class="form-control" id="datePromotion" type="date">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Modal AddCategoryToEmployee -->
          <div class="modal fade" id="modalAddJobPositionToEmployee" tabindex="-1"
            aria-labelledby="modalAddJobPositionToEmployeeLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <form id="formAddJobPositionToEmployee" class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalAddJobPositionToEmployeeLabel">Agregar Puesto a Empleado</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row g-3">
                    <input type="hidden" id="isCreating">
                    <div id="validationErrorsAddJobPositions"></div>
                    <div class="col-12">
                      <label for="selectJobPosition" class="form-label">Puestos Laborales<small
                          class=" text-danger">(*)</small></label>
                      <select class="form-select" name="selectJobPositions" id="selectJobPositions"></select>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Modal AddSkillsToEmployee -->
          <div class="modal fade" id="modalCategoryCreate" tabindex="-1" aria-labelledby="modalCategoryCreateLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalCategoryCreateLabel">Habilidades</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" id="formSKills">
                <div class="modal-body">
                  <div class="col-12">
                    <label for="selectSkills" class="form-label">Habilidades<small
                        class=" text-danger">(*)</small></label>
                    <select class="form-select" name="selectCategories" id="selectCategories"></select>
                  </div>
                    <div class="mb-3">
                      <label for="dni" class="form-label">Habilidad</label>
                      <input type="text" class="form-control" id="dni" name="dni" placeholder="41176787">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button class="btn btn-secondary" type="reset">Borrar Campos</button>
                  <button  id="cargarPersona" type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </form>
              </div>
            </div>
          </div>
          <%- include('../layouts/footer.ejs') ;%>
            <script src="/js/employees/show.js"></script>
            <script src="/js/employees/category/indexCategoryEmployee.js"></script>
            <script src="/js/employees/category/storeCategoryEmployee.js"></script>
            <script src="/js/employees/jobPosition/indexEmployeeJobPosition.js"></script>
            <script src="/js/employees/jobPosition/storeEmployeeJobPosition.js"></script>
  </body>

  </html>